<a href="https://colab.research.google.com/github/CodeHunterOfficial/Python_Basics/blob/main/Lecture_8_01_%D0%91%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Создание фрейм

In [ ]:
import pandas as pd

# Создание словаря с данными
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Денис'],
        'Возраст': [25, 32, 28, 35],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев', 'Минск']}

# Создание фрейма данных из словаря
df = pd.DataFrame(data)

# Вывод фрейма данных
print(df)

     Имя  Возраст            Город
0   Анна       25           Москва
1  Борис       32  Санкт-Петербург
2   Катя       28             Киев
3  Денис       35            Минск

Индексировать фрейм

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Денис'],
        'Возраст': [25, 32, 28, 35],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев', 'Минск']}

df = pd.DataFrame(data)

# Индексирование по столбцу "Имя"
df_indexed = df.set_index('Имя')

# Вывод индексированного фрейма данных
print(df_indexed)

       Возраст            Город
Имя
Анна        25           Москва
Борис       32  Санкт-Петербург
Катя        28             Киев
Денис       35            Минск

Вывод по индексу

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Денис'],
        'Возраст': [25, 32, 28, 35],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев', 'Минск']}

df = pd.DataFrame(data)

# Индексирование по столбцу "Имя"
df_indexed = df.set_index('Имя')

# Вывод данных по индексу с использованием loc[]
print(df_indexed.loc['Анна'])

# Вывод данных по индексу с использованием iloc[]
print(df_indexed.iloc[0])

Возраст        25
Город      Москва
Name: Анна, dtype: object
Возраст        25
Город      Москва
Name: Анна, dtype: object

Сортировка фрейма

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Денис'],
        'Возраст': [25, 32, 28, 35],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев', 'Минск']}

df = pd.DataFrame(data)

# Сортировка по столбцу "Возраст" в порядке возрастания
df_sorted = df.sort_values(by='Возраст')

# Вывод отсортированного фрейма данных
print(df_sorted)

     Имя  Возраст            Город
0   Анна       25           Москва
2   Катя       28             Киев
1  Борис       32  Санкт-Петербург
3  Денис       35            Минск

Чтобы добавить, изменить или удалить элементы в фрейме данных в Pandas, вы можете использовать различные методы.

Добавление элементов:

loc[] - используется для добавления новых строк или столбцов
append() - используется для добавления новых строк в конец фрейма данных
Изменение элементов:

Используйте оператор присваивания (=) для изменения значения элемента
Удаление элементов:

drop() - используется для удаления строк или столбцов
del - используется для удаления столбца
Вот примеры:

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Денис'],
        'Возраст': [25, 32, 28, 35],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев', 'Минск']}

df = pd.DataFrame(data)

# Добавление новой строки с помощью loc[]
df.loc[4] = ['Елена', 27, 'Сочи']

# Добавление нового столбца с помощью loc[]
df.loc[:, 'Пол'] = ['Ж', 'М', 'Ж', 'М', 'Ж']

# Добавление новой строки с помощью append()
new_row = pd.Series(['Игорь', 30, 'Новосибирск', 'М'], index=df.columns)
df = df.append(new_row, ignore_index=True)

# Изменение значения элемента
df.at[1, 'Возраст'] = 33

# Удаление строки с помощью drop()
df = df.drop(0)

# Удаление столбца с помощью del
del df['Пол']

# Вывод измененного фрейма данных
print(df)

     Имя  Возраст            Город
1  Борис       33  Санкт-Петербург
2   Катя       28             Киев
3  Денис       35            Минск
4  Елена       27             Сочи
5  Игорь       30      Новосибирск

<ipython-input-5-ad2f53d49fbc>:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

Добавленной строкой и столбцом

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Возраст': [25, 32, 28],
        'Город': ['Москва', 'Санкт-Петербург', 'Киев']}

df = pd.DataFrame(data)

# Добавление новой строки
new_row = {'Имя': 'Денис', 'Возраст': 35, 'Город': 'Минск'}
df = df.append(new_row, ignore_index=True)

# Добавление нового столбца
new_column = [160, 175, 165, 180]
df['Рост'] = new_column

# Вывод фрейма данных с добавленной строкой и столбцом
print(df)

# Удаление строки
df = df.drop(2)

# Удаление столбца
df = df.drop('Рост', axis=1)

# Вывод фрейма данных после удаления строки и столбца
print(df)

     Имя  Возраст            Город  Рост
0   Анна       25           Москва   160
1  Борис       32  Санкт-Петербург   175
2   Катя       28             Киев   165
3  Денис       35            Минск   180
     Имя  Возраст            Город
0   Анна       25           Москва
1  Борис       32  Санкт-Петербург
3  Денис       35            Минск

<ipython-input-6-a29ee28787eb>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

Для объединения фреймов данных в Pandas вы можете использовать функции concat(), merge() или join(). Вот примеры:

concat() - объединение по оси (столбцы или строки):

In [ ]:
import pandas as pd

# Создание первого фрейма данных
data1 = {'Имя': ['Анна', 'Борис'],
         'Возраст': [25, 32]}
df1 = pd.DataFrame(data1)

# Создание второго фрейма данных
data2 = {'Имя': ['Катя', 'Денис'],
         'Город': ['Киев', 'Минск']}
df2 = pd.DataFrame(data2)

# Объединение по строкам (вертикальное объединение)
df_concat_rows = pd.concat([df1, df2], ignore_index=True)

# Объединение по столбцам (горизонтальное объединение)
df_concat_cols = pd.concat([df1, df2], axis=1)

# Вывод объединенных фреймов данных
print(df_concat_rows)
print(df_concat_cols)

     Имя  Возраст  Город
0   Анна     25.0    NaN
1  Борис     32.0    NaN
2   Катя      NaN   Киев
3  Денис      NaN  Минск
     Имя  Возраст    Имя  Город
0   Анна       25   Катя   Киев
1  Борис       32  Денис  Минск

merge() - объединение по общему столбцу:

In [ ]:
import pandas as pd

# Создание первого фрейма данных
data1 = {'Имя': ['Анна', 'Борис'],
         'Возраст': [25, 32]}
df1 = pd.DataFrame(data1)

# Создание второго фрейма данных
data2 = {'Имя': ['Борис', 'Катя'],
         'Город': ['Москва', 'Киев']}
df2 = pd.DataFrame(data2)

# Объединение по столбцу "Имя"
df_merge = pd.merge(df1, df2, on='Имя')

# Вывод объединенного фрейма данных
print(df_merge)

     Имя  Возраст   Город
0  Борис       32  Москва

join() - объединение по индексу:

In [ ]:
import pandas as pd

# Создание первого фрейма данных
data1 = {'Возраст': [25, 32]}
df1 = pd.DataFrame(data1, index=['Анна', 'Борис'])

# Создание второго фрейма данных
data2 = {'Город': ['Москва', 'Киев']}
df2 = pd.DataFrame(data2, index=['Анна', 'Катя'])

# Объединение по индексу
df_join = df1.join(df2)

# Вывод объединенного фрейма данных
print(df_join)

       Возраст   Город
Анна        25  Москва
Борис       32     NaN

В Pandas еще  существуют несколько типов объединения (join):

Внутреннее объединение (inner join): Возвращает только те строки, которые имеют совпадающие значения в обоих фреймах данных по указанным столбцам или индексам. Используйте метод merge() с параметром how='inner' или метод join() с параметром how='inner'.

Левое объединение (left join): Возвращает все строки из левого фрейма данных и соответствующие строки из правого фрейма данных, при этом отсутствующие значения заполняются NaN. Используйте метод merge() с параметром how='left' или метод join() с параметром how='left'.

Правое объединение (right join): Возвращает все строки из правого фрейма данных и соответствующие строки из левого фрейма данных, при этом отсутствующие значения заполняются NaN. Используйте метод merge() с параметром how='right' или метод join() с параметром how='right'.

Внешнее объединение (outer join): Возвращает все строки из обоих фреймов данных, при этом отсутствующие значения заполняются NaN. Используйте метод merge() с параметром how='outer' или метод join() с параметром how='outer'.

Вот еще примеры использования разных типов объединения:

In [ ]:
import pandas as pd

# Создание первого фрейма данных
data1 = {'Имя': ['Анна', 'Борис'],
         'Возраст': [25, 32]}
df1 = pd.DataFrame(data1)

# Создание второго фрейма данных
data2 = {'Имя': ['Борис', 'Катя'],
         'Город': ['Москва', 'Киев']}
df2 = pd.DataFrame(data2)

# Внутреннее объединение
df_inner = df1.merge(df2, on='Имя', how='inner')

# Левое объединение
df_left = df1.merge(df2, on='Имя', how='left')

# Правое объединение
df_right = df1.merge(df2, on='Имя', how='right')

# Внешнее объединение
df_outer = df1.merge(df2, on='Имя', how='outer')

# Вывод объединенных фреймов данных
print(df_inner)
print(df_left)
print(df_right)
print(df_outer)

     Имя  Возраст   Город
0  Борис       32  Москва
     Имя  Возраст   Город
0   Анна       25     NaN
1  Борис       32  Москва
     Имя  Возраст   Город
0  Борис     32.0  Москва
1   Катя      NaN    Киев
     Имя  Возраст   Город
0   Анна     25.0     NaN
1  Борис     32.0  Москва
2   Катя      NaN    Киев

В Pandas вы можете выполнять различные запросы и фильтрации данных во фрейме данных с помощью методов и операторов.

Ниже приведены некоторые примеры запросов, которые вы можете выполнить в Pandas:

Выборка по условию:

In [ ]:
# Выборка строк, где значение столбца "Возраст" больше 30
df_filtered = df[df['Возраст'] > 30]
print(df_filtered)

     Имя  Возраст            Город
1  Борис       32  Санкт-Петербург
3  Денис       35            Минск

Фильтрация по нескольким условиям:

In [ ]:
# Выборка строк, где значение столбца "Город" равно "Москва" и значение столбца "Возраст" меньше 30
df_filtered = df[(df['Город'] == 'Москва') & (df['Возраст'] < 30)]
print(df_filtered)

    Имя  Возраст   Город
0  Анна       25  Москва

Сортировка данных:

In [ ]:
# Сортировка по столбцу "Возраст" в порядке убывания
df_sorted = df.sort_values(by='Возраст', ascending=False)
print(df_sorted)

     Имя  Возраст            Город
3  Денис       35            Минск
1  Борис       32  Санкт-Петербург
0   Анна       25           Москва

Группировка данных:

In [ ]:
# Группировка по столбцу "Город" и вычисление среднего значения столбца "Возраст" для каждой группы
df_grouped = df.groupby('Город')['Возраст'].mean()
print(df_grouped)

Город
Минск              35.0
Москва             25.0
Санкт-Петербург    32.0
Name: Возраст, dtype: float64

Выбор уникальных значений:

In [ ]:
# Получение уникальных значений из столбца "Город"
unique_cities = df['Город'].unique()
print(unique_cities)

['Москва' 'Санкт-Петербург' 'Минск']

Выполнение агрегатных функций:

In [ ]:
# Вычисление суммы значений столбца "Возраст"
total_age = df['Возраст'].sum()
print(total_age)

92

Выборка определенных столбцов:

In [ ]:
# Выборка только столбцов "Имя" и "Возраст"
df_selected_columns = df[['Имя', 'Возраст']]
print(df_selected_columns)

     Имя  Возраст
0   Анна       25
1  Борис       32
3  Денис       35

Поиск значений по шаблону:

In [ ]:
# Поиск строк, где значение столбца "Имя" содержит подстроку "ан"
df_filtered = df[df['Имя'].str.contains('ан')]
print(df_filtered)

Empty DataFrame
Columns: [Имя, Возраст, Город]
Index: []

Вычисление статистических показателей:

In [ ]:
# Вычисление среднего значения столбца "Возраст"
mean_age = df['Возраст'].mean()

# Вычисление медианы столбца "Возраст"
median_age = df['Возраст'].median()

# Вычисление максимального значения столбца "Возраст"
max_age = df['Возраст'].max()

# Вычисление минимального значения столбца "Возраст"
min_age = df['Возраст'].min()

Применение пользовательской функции к столбцам или строкам:

In [ ]:
# Применение функции для преобразования значений столбца "Возраст" в годы
df['Возраст'] = df['Возраст'].apply(lambda x: x / 365)

Удаление дубликатов:

In [ ]:
# Удаление дубликатов на основе всех столбцов
df_no_duplicates = df.drop_duplicates()

# Удаление дубликатов на основе определенных столбцов
df_no_duplicates = df.drop_duplicates(subset=['Имя', 'Город'])

Чтобы дублировать элемент в фрейме данных в Pandas, вы можете использовать метод append(). Вот пример:

In [ ]:
import pandas as pd

# Создание исходного фрейма данных
data = {'Имя': ['Анна', 'Борис'],
        'Возраст': [25, 32]}
df = pd.DataFrame(data)

# Дублирование элемента
df_duplicated = df.append(df.loc[0])

# Вывод фрейма данных с дублированным элементом
print(df_duplicated)

     Имя  Возраст
0   Анна       25
1  Борис       32
0   Анна       25

<ipython-input-24-52df61d7084c>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicated = df.append(df.loc[0])

Чтобы заменить значения NaN (отсутствующие значения) на среднее значение столбца в Pandas, вы можете использовать метод fillna() в сочетании с методом mean(). Вот пример:

In [ ]:
import pandas as pd
import numpy as np

# Создание фрейма данных с пропущенными значениями
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Возраст': [25, np.nan, 32]}
df = pd.DataFrame(data)

# Замена NaN на среднее значение столбца
mean_age = df['Возраст'].mean()
df['Возраст'] = df['Возраст'].fillna(mean_age)

# Вывод фрейма данных с замененными значениями
print(df)

     Имя  Возраст
0   Анна     25.0
1  Борис     28.5
2   Катя     32.0

Чтобы заменить значения NaN (отсутствующие значения) на среднее значение левого и правого соседей в Pandas, вы можете использовать метод fillna() в сочетании с методом fillna() и параметром method='ffill' и method='bfill'. Вот пример:

In [ ]:
import pandas as pd
import numpy as np

# Создание фрейма данных с пропущенными значениями
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Дмитрий'],
        'Возраст': [25, np.nan, np.nan, 32]}
df = pd.DataFrame(data)

# Замена NaN на среднее значение левого и правого соседей
df['Возраст'] = df['Возраст'].fillna(df['Возраст'].fillna(method='ffill') + df['Возраст'].fillna(method='bfill')) / 2

# Вывод фрейма данных с замененными значениями
print(df)

       Имя  Возраст
0     Анна     12.5
1    Борис     28.5
2     Катя     28.5
3  Дмитрий     16.0

В этом примере мы создаем фрейм данных df с пропущенными значениями (NaN) в столбце "Возраст". Затем мы используем метод fillna() дважды для замены NaN на значения левого и правого соседей. Параметр method='ffill' указывает на заполнение пропущенных значений предыдущими наблюдениями (левым соседом), а параметр method='bfill' указывает на заполнение пропущенных значений следующими наблюдениями (правым соседом). Затем мы суммируем значения левого и правого соседей и делим на 2, чтобы получить среднее значение.

Если вы хотите заменить значения NaN (отсутствующие значения) на среднее значение левого и правого соседей, но оставить значения в первой и последней строке без изменений, вам потребуется использовать условную индексацию.

Вот исправленный пример:

In [ ]:
import pandas as pd
import numpy as np

# Создание фрейма данных с пропущенными значениями
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Дмитрий'],
        'Возраст': [25, np.nan, 30, 32]}
df = pd.DataFrame(data)

# Замена NaN в возрасте Бориса на среднее значение возраста Анны и Кати
for i in range(1, len(df)-1):
    if pd.isna(df.loc[i, 'Возраст']):
        df.loc[i, 'Возраст'] = (df.loc[i-1, 'Возраст'] + df.loc[i+1, 'Возраст']) / 2

# Вывод фрейма данных с замененными значениями
print(df)

       Имя  Возраст
0     Анна     25.0
1    Борис     27.5
2     Катя     30.0
3  Дмитрий     32.0

Отобразите количество строк, в которых значение столбца "Возраст" является пропущенным (NaN).

In [ ]:
df['Возраст'].isna().sum()

0

Отобразите значения столбца "Имя" в верхнем регистре.

In [ ]:
df['Имя'].str.upper()

0       АННА
1      БОРИС
2       КАТЯ
3    ДМИТРИЙ
Name: Имя, dtype: object

Удалите лишние пробелы в определенном столбце.

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['  Анна  ', 'Борис', '   Катя   ', '  Дмитрий  '],
        'Возраст': [25, 28, 30, 32]}
df = pd.DataFrame(data)

# Удаление лишних пробелов в столбце "Имя"
df['Имя'] = df['Имя'].str.strip()

# Вывод фрейма данных с удаленными пробелами
print(df)

       Имя  Возраст
0     Анна       25
1    Борис       28
2     Катя       30
3  Дмитрий       32

Измените формат даты в определенном столбце.

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Дата': ['2023-10-22', '2023-10-23', '2023-10-24']}
df = pd.DataFrame(data)

# Изменение формата даты в столбце "Дата"
df['Дата'] = pd.to_datetime(df['Дата']).dt.strftime('%d.%m.%Y')

# Вывод фрейма данных с измененным форматом даты
print(df)

     Имя        Дата
0   Анна  22.10.2023
1  Борис  23.10.2023
2   Катя  24.10.2023

Удалите знаки препинания в определенном столбце.

In [ ]:
import pandas as pd
import re

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Текст': ['Привет, как дела?', 'Это-то место!', 'Вопрос: когда?']}
df = pd.DataFrame(data)

# Удаление знаков препинания в столбце "Текст"
df['Текст'] = df['Текст'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# Вывод фрейма данных с удаленными знаками препинания
print(df)

     Имя            Текст
0   Анна  Привет как дела
1  Борис      Этото место
2   Катя     Вопрос когда

В этом примере мы используем метод apply() для применения функции lambda к каждой ячейке столбца "Текст". Внутри функции lambda мы используем модуль re и регулярное выражение [^\w\s], которое соответствует любому символу, не являющемуся буквой, цифрой или пробелом. Мы заменяем найденные знаки препинания на пустую строку.

После выполнения кода, знаки препинания в столбце "Текст" будут удалены.

Извлеките URL-адреса из определенного столбца.

Чтобы извлечь URL-адреса из определенного столбца, можно использовать регулярное выражение и метод str.extract() или str.findall(). Вот пример кода для извлечения URL-адресов из столбца "Текст":

In [ ]:
import pandas as pd
import re

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Текст': ['Посетите мой сайт: www.example.com', 'Здесь есть ссылка: http://example.com', 'Нет ссылки']}
df = pd.DataFrame(data)

# Извлечение URL-адресов из столбца "Текст"
df['URL'] = df['Текст'].str.extract(r'(https?://\S+)')

# Вывод фрейма данных с извлеченными URL-адресами
print(df)

     Имя                                  Текст                 URL
0   Анна     Посетите мой сайт: www.example.com                 NaN
1  Борис  Здесь есть ссылка: http://example.com  http://example.com
2   Катя                             Нет ссылки                 NaN

В этом примере мы используем метод str.extract() и регулярное выражение (https?://\S+), которое соответствует строке, начинающейся с "http://" или "https://" и содержащей любые непробельные символы. Извлеченные URL-адреса сохраняются в новом столбце "URL".

Разделите один столбец на несколько на основе разделителя.


Чтобы разделить один столбец на несколько на основе разделителя, можно использовать метод str.split(). Вот пример кода для разделения столбца "ФИО" на отдельные столбцы "Фамилия", "Имя" и "Отчество" на основе разделителя пробела:

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'ФИО': ['Иванов Иван Иванович', 'Петров Петр Петрович', 'Сидоров Сидор Сидорович']}
df = pd.DataFrame(data)

# Разделение столбца "ФИО" на отдельные столбцы
df[['Фамилия', 'Имя', 'Отчество']] = df['ФИО'].str.split(' ', expand=True)

# Вывод фрейма данных с разделенными столбцами
print(df)

                       ФИО  Фамилия    Имя   Отчество
0     Иванов Иван Иванович   Иванов   Иван   Иванович
1     Петров Петр Петрович   Петров   Петр   Петрович
2  Сидоров Сидор Сидорович  Сидоров  Сидор  Сидорович

Объедините несколько столбцов в один.

Чтобы объединить несколько столбцов в один, можно использовать метод str.cat() или операцию конкатенации (+). Вот пример кода для объединения столбцов "Имя" и "Фамилия" в новый столбец "Полное имя":

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя'],
        'Фамилия': ['Иванов', 'Петров', 'Сидоров']}
df = pd.DataFrame(data)

# Объединение столбцов "Имя" и "Фамилия" в новый столбец
df['Полное имя'] = df['Имя'] + ' ' + df['Фамилия']

# Вывод фрейма данных с объединенными столбцами
print(df)

     Имя  Фамилия    Полное имя
0   Анна   Иванов   Анна Иванов
1  Борис   Петров  Борис Петров
2   Катя  Сидоров  Катя Сидоров

Найдите выбросы в определенном столбце и удалите их.

Чтобы найти выбросы в определенном столбце и удалить их, можно использовать статистические методы или применить фильтры на основе условий. Вот пример кода для нахождения и удаления выбросов в столбце "Зарплата":

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис', 'Катя', 'Дмитрий'],
        'Зарплата': [50000, 60000, 80000, 1500000]}
df = pd.DataFrame(data)

# Нахождение выбросов в столбце "Зарплата"
Q1 = df['Зарплата'].quantile(0.25)
Q3 = df['Зарплата'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Удаление выбросов в столбце "Зарплата"
df = df[(df['Зарплата'] >= lower_bound) & (df['Зарплата'] <= upper_bound)]

# Вывод фрейма данных без выбросов
print(df)

     Имя  Зарплата
0   Анна     50000
1  Борис     60000
2   Катя     80000

В этом примере мы используем межквартильный размах (IQR) для определения нижней и верхней границы выбросов. Затем мы фильтруем фрейм данных, оставляя только строки, где значение столбца "Зарплата" находится в пределах этих границ.

После выполнения кода, выбросы в столбце "Зарплата" будут удалены, и останется только фрейм данных без выбросов.

Нормализуйте значения в определенном столбце.

Чтобы нормализовать значения в определенном столбце, можно использовать метод MinMaxScaler из модуля sklearn.preprocessing. Вот пример кода для нормализации значений в столбце "Значение":

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Создание фрейма данных
data = {'Значение': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Нормализация значений в столбце "Значение"
scaler = MinMaxScaler()
df['Нормализованное значение'] = scaler.fit_transform(df[['Значение']])

# Вывод фрейма данных с нормализованными значениями
print(df)

   Значение  Нормализованное значение
0        10                      0.00
1        20                      0.25
2        30                      0.50
3        40                      0.75
4        50                      1.00

В этом примере мы создаем экземпляр MinMaxScaler и применяем его к столбцу "Значение" с помощью метода fit_transform(). Нормализованные значения сохраняются в новом столбце "Нормализованное значение".

Стандартизуйте значения в определенном столбце.

Чтобы стандартизировать значения в определенном столбце, можно использовать метод StandardScaler из модуля sklearn.preprocessing. Вот пример кода для стандартизации значений в столбце "Значение":

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Создание фрейма данных
data = {'Значение': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Стандартизация значений в столбце "Значение"
scaler = StandardScaler()
df['Стандартизованное значение'] = scaler.fit_transform(df[['Значение']])

# Вывод фрейма данных со стандартизованными значениями
print(df)

   Значение  Стандартизованное значение
0        10                   -1.414214
1        20                   -0.707107
2        30                    0.000000
3        40                    0.707107
4        50                    1.414214

В этом примере мы создаем экземпляр StandardScaler и применяем его к столбцу "Значение" с помощью метода fit_transform(). Стандартизованные значения сохраняются в новом столбце "Стандартизованное значение".

Измените масштаб значений в определенном столбце на заданный диапазон.

Чтобы изменить масштаб значений в определенном столбце на заданный диапазон, можно использовать метод MinMaxScaler из модуля sklearn.preprocessing. Вот пример кода для изменения масштаба значений в столбце "Значение" на диапазон от 0 до 100:

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Создание фрейма данных
data = {'Значение': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Изменение масштаба значений в столбце "Значение" на диапазон от 0 до 100
scaler = MinMaxScaler(feature_range=(0, 100))
df['Измененный масштаб'] = scaler.fit_transform(df[['Значение']])

# Вывод фрейма данных с измененным масштабом значений
print(df)

   Значение  Измененный масштаб
0        10                 0.0
1        20                25.0
2        30                50.0
3        40                75.0
4        50               100.0

В этом примере мы создаем экземпляр MinMaxScaler и указываем диапазон от 0 до 100 с помощью параметра feature_range. Затем мы применяем его к столбцу "Значение" с помощью метода fit_transform(). Значения с измененным масштабом сохраняются в новом столбце "Измененный масштаб".

Посчитайте корреляцию между двумя столбцами.

Чтобы посчитать корреляцию между двумя столбцами, можно использовать метод corr() на фрейме данных. Вот пример кода для подсчета корреляции между столбцами "Столбец1" и "Столбец2":
python

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Столбец1': [1, 2, 3, 4, 5],
        'Столбец2': [5, 4, 3, 2, 1]}
df = pd.DataFrame(data)

# Подсчет корреляции между столбцами "Столбец1" и "Столбец2"
correlation = df['Столбец1'].corr(df['Столбец2'])

# Вывод значения корреляции
print("Корреляция: ", correlation)

Корреляция:  -0.9999999999999999

В этом примере мы используем метод corr() на фрейме данных и передаем названия столбцов "Столбец1" и "Столбец2" в качестве аргументов. Результатом будет значение корреляции между этими двумя столбцами.

Чтобы сохранить фрейм данных в файл, вы можете использовать метод to_csv() или to_excel() в Pandas. Вот примеры:

Сохранение в CSV файл:

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис'],
        'Возраст': [25, 32]}
df = pd.DataFrame(data)

# Сохранение в CSV файл
df.to_csv('data.csv', index=False)

Сохранение в Excel файл:

In [ ]:
import pandas as pd

# Создание фрейма данных
data = {'Имя': ['Анна', 'Борис'],
        'Возраст': [25, 32]}
df = pd.DataFrame(data)

# Сохранение в Excel файл
df.to_excel('data.xlsx', index=False)

В обоих примерах мы создаем фрейм данных df и сохраняем его в файл с помощью методов to_csv() и to_excel(). Обратите внимание, что в обоих случаях мы указываем параметр index=False, чтобы не сохранять индексы строк в файл.

Чтобы прочитать данные из файла в фрейм данных, вы можете использовать методы read_csv() или read_excel(). Вот примеры:

Загрузка из CSV файла:

In [ ]:
import pandas as pd

# Загрузка из CSV файла
df = pd.read_csv('data.csv')
print(df)

     Имя  Возраст
0   Анна       25
1  Борис       32

Загрузка из Excel файла:

In [ ]:
import pandas as pd

# Загрузка из Excel файла
df = pd.read_excel('data.xlsx')
print(df)

     Имя  Возраст
0   Анна       25
1  Борис       32