<a href="https://colab.research.google.com/github/CodeHunterOfficial/Python_Basics/blob/main/Lecture_3_%D0%A1%D0%BF%D0%B8%D1%81%D0%BA%D0%B8%2C_%D0%BA%D0%BE%D1%80%D1%82%D0%B5%D0%B6%D0%B8_%D0%B8_%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Списки, кортежи и словари

## Список

Для работы с наборами данных Python предоставляет такие встроенные типы как списки, кортежи и словари.

Список (list) представляет тип данных, который хранит набор или последовательность элементов. Во многих языках программирования есть аналогичная структура данных, которая называется массив.

### Создание списка

Для создания списка применяются квадратные скобки [], внутри которых через запятую перечисляются элементы списка. Например, определим список чисел:

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

people = ["Tomilo", "Samira", "Bobur"]
print(people)

objects = [1, 2.6, "Hello", True]
print(objects)

[1, 2, 3, 4, 5]
['Tomilo', 'Samira', 'Bobur']
[1, 2.6, 'Hello', True]

Также для создания списка можно использовать функцию-конструктор list():

In [2]:
numbers1 = []
numbers2 = list()

Конструктор list может принимать набор значений, на основе которых создается список:

In [4]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = list(numbers1)
print(numbers2)  # [1, 2, 3, 4, 5]

letters = list("Hello")
print(letters)      # ['H', 'e', 'l', 'l', 'o']

[1, 2, 3, 4, 5]
['H', 'e', 'l', 'l', 'o']

Если необходимо создать список, в котором повторяется одно и то же значение несколько раз, то можно использовать символ звездочки *, то есть фактически применить операцию умножения к уже существующему списку:

In [7]:
numbers = [5] * 6   # 6 раз повторяем 5
print(numbers)      # [5, 5, 5, 5, 5, 5]

people = ["Alexandra"] * 3    # 3 раза повторяем "Alexandra"
print(people)           # ["Alexandra", "Alexandra", "Alexandra"]

students = ["Masha", "Dasha"] * 2   # 2 раза повторяем "Masha", "Dasha"
print(students)                 # ["Masha", "Dasha", "Masha", "Dasha"]

[5, 5, 5, 5, 5, 5]
['Alexandra', 'Alexandra', 'Alexandra']
['Masha', 'Dasha', 'Masha', 'Dasha']

## Обращение к элементам списка

Для обращения к элементам списка надо использовать индексы, которые представляют номер элемента в списка. Индексы начинаются с нуля. То есть первый элемент будет иметь индекс 0, второй элемент - индекс 1 и так далее. Для обращения к элементам с конца можно использовать отрицательные индексы, начиная с -1. То есть у последнего элемента будет индекс -1, у предпоследнего - -2 и так далее

In [9]:
people = ["Arina", "Karina", "Sabina"]
# получение элементов с начала списка
print(people[0])   # Arina
print(people[1])   # Karina
print(people[2])   # Sabina

print()
# получение элементов с конца списка
print(people[-2])   # Karina
print(people[-1])   # Sabina
print(people[-3])   # Arina

Arina
Karina
Sabina

Karina
Sabina
Arina

Для изменения элемента списка достаточно присвоить ему новое значение:

In [10]:
people = ["Arina", "Karina", "Sabina"]

people[1] = "Raul"  # изменение второго элемента
print(people[1])    # Raul
print(people)       # ["Arina", "Raul", "Sabina"]

Raul
['Arina', 'Raul', 'Sabina']

## Разложение списка

Python позволяет разложить список на отдельные элементы:

In [11]:
people = ["Arina", "Karina", "Sabina"]

arina, karina, sabina = people

print(arina)      # Arina
print(karina)      # Karina
print(sabina)      # Sabina

Arina
Karina
Sabina

## Перебор элементов

Для перебора элементов можно использовать как цикл for, так и цикл while.

Перебор с помощью цикла for:

In [12]:
people = ["Arina", "Karina", "Sabina"]
for person in people:
    print(person)

Arina
Karina
Sabina

Перебор также можно сделать с помощью цикла while:

In [13]:
people = ["Arina", "Karina", "Sabina"]
i = 0
while i < len(people):
    print(people[i])    # применяем индекс для получения элемента
    i += 1

Arina
Karina
Sabina

## Сравнение списков

Два списка считаются равными, если они содержат один и тот же набор элементов:

In [14]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = list([1, 2, 3, 4, 5])
if numbers1 == numbers2:
    print("numbers1 equal to numbers2")
else:
    print("numbers1 is not equal to numbers2")

numbers1 equal to numbers2

## Получение части списка

Если необходимо получить какую-то определенную часть списка, то мы можем применять специальный синтаксис, который может принимать следующие формы:

* list[:end]: через параметр end передается индекс элемента, до которого нужно копировать список

* list[start:end]: параметр start указывает на индекс элемента, начиная с которого надо скопировать элементы

* list[start:end:step]: параметр step указывает на шаг, через который будут копироваться элементы из списка. По умолчанию этот параметр равен 1.

In [18]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

slice_people1 = people[:3]   # с 0 по 3
print(slice_people1)   # ['Arina', 'Karina', 'Alice']

slice_people2 = people[1:3]   # с 1 по 3
print(slice_people2)   # ['Karina', 'Alice']

slice_people3 = people[0:7:2]   # с 1 по 6 с шагом 2
print(slice_people3)   #  ['Arina', 'Alice', 'Alexandra', 'Dasha']

['Arina', 'Karina', 'Alice']
['Karina', 'Alice']
['Arina', 'Alice', 'Alexandra', 'Dasha']

Можно использовать отрицательные индексы, тогда отсчет будет идти с конца, например, -1 - предпоследний, -2 - третий сконца и так далее.

In [26]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

slice_people1 = people[:-1]   # с предпоследнего по нулевой
print(slice_people1)   # ['Arina', 'Karina', 'Alice', 'Laysan', 'Alexandra', 'Masha']

slice_people2 = people[-3:-1]   # с третьего с конца по предпоследний
print(slice_people2)   # ['Alexandra', 'Masha']

slice_people2 = people[-4:]   # от четвертого элемента с конца до конца списка
print(slice_people2)   # ['Laysan', 'Alexandra', 'Masha', 'Dasha']

['Arina', 'Karina', 'Alice', 'Laysan', 'Alexandra', 'Masha']
['Alexandra', 'Masha']
['Laysan', 'Alexandra', 'Masha', 'Dasha']

## Методы и функции по работе со списками

Для управления элементами списки имеют целый ряд методов. Некоторые из них:

* append(item): добавляет элемент item в конец списка

* insert(index, item): добавляет элемент item в список по индексу index

* extend(items): добавляет набор элементов items в конец списка

* remove(item): удаляет элемент item. Удаляется только первое вхождение элемента. Если элемент не найден, генерирует исключение ValueError

*  clear(): удаление всех элементов из списка

* index(item): возвращает индекс элемента item. Если элемент не найден, генерирует исключение ValueError

* pop([index]): удаляет и возвращает элемент по индексу index. Если индекс не передан, то просто удаляет последний элемент.

* count(item): возвращает количество вхождений элемента item в список

* sort([key]): сортирует элементы. По умолчанию сортирует по возрастанию. Но с помощью параметра key мы можем передать функцию сортировки.

* reverse(): расставляет все элементы в списке в обратном порядке

* copy(): копирует список

Кроме того, Python предоставляет ряд встроенных функций для работы со списками:

* len(list): возвращает длину списка

* sorted(list, [key]): возвращает отсортированный список

* min(list): возвращает наименьший элемент списка

* max(list): возвращает наибольший элемент списка

## Добавление и удаление элементов

Для добавления элемента применяются методы append(), extend и insert, а для удаления - методы remove(), pop() и clear().

Использование методов:

In [31]:
people = ["Arina", "Karina"]
print(people)  # ['Arina', 'Karina']

# Добавляем в конец списка
people.append("Alice")
print(people)  # ['Arina', 'Karina', 'Alice']

# Добавляем на вторую позицию
people.insert(1, "Bilal")
print(people)  # ['Arina', 'Bilal', 'Karina', 'Alice']

# Добавляем набор элементов ["Misha", "Nikita", "Laysan"]
people.extend(["Misha", "Nikita", "Laysan"])
print(people)  # ['Arina', 'Bilal', 'Karina', 'Alice', 'Misha', 'Nikita', 'Laysan']

# Получаем индекс элемента
index_of_laysan = people.index("Laysan")
print(index_of_laysan)  # 6

# Удаляем по этому индексу
removed_item = people.pop(index_of_laysan)
print(people)  # ['Arina', 'Bilal', 'Karina', 'Alice', 'Misha', 'Nikita']

# Удаляем последний элемент
last_item = people.pop()
print(last_item)  # Nikita

# Удаляем элемент "Alice"
people.remove("Alice")
print(people)  # ['Arina', 'Bilal', 'Karina', 'Misha']

# Удаляем все элементы
people.clear()
print(people)  # []

['Arina', 'Karina']
['Arina', 'Karina', 'Alice']
['Arina', 'Bilal', 'Karina', 'Alice']
['Arina', 'Bilal', 'Karina', 'Alice', 'Misha', 'Nikita', 'Laysan']
6
['Arina', 'Bilal', 'Karina', 'Alice', 'Misha', 'Nikita']
Nikita
['Arina', 'Bilal', 'Karina', 'Misha']
[]

## Проверка наличия элемента

Если определенный элемент не найден, то методы remove и index генерируют исключение. Чтобы избежать подобной ситуации, перед операцией с элементом можно проверять его наличие с помощью ключевого слова in:

In [33]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

if "Alice" in people:
    people.remove("Alice")
print(people)       # ['Arina', 'Karina', 'Laysan', 'Alexandra', 'Masha', 'Dasha']

['Arina', 'Karina', 'Laysan', 'Alexandra', 'Masha', 'Dasha']

## Удаление с помощью del

Python также поддерживает еще один способ удаления элементов списка - с помощью оператора del. В качестве параметра этому оператору передается удаляемый элемент или набор элементов:

In [36]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

del people[1]   # удаляем второй элемент
print(people)   # ['Arina', 'Alice', 'Laysan', 'Alexandra', 'Masha', 'Dasha']

del people[:3]   # удаляем  по четвертый элемент не включая
print(people)   # ['Alexandra', 'Masha', 'Dasha']

del people[1:]   # удаляем  со второго элемента
print(people)   # ['Alexandra']

['Arina', 'Alice', 'Laysan', 'Alexandra', 'Masha', 'Dasha']
['Alexandra', 'Masha', 'Dasha']
['Alexandra']

## Изменение подсписка

Для изменения подсписка - набора элементов в списке можно использовать вышерассмотренный синтаксис [start:end]:

In [37]:
nums = [10, 20, 30, 40, 50]
nums[1:4]=[11, 22]
print(nums)     # [10, 11, 22, 50]

[10, 11, 22, 50]

## Подсчет вхождений

Если необходимо узнать, сколько раз в списке присутствует тот или иной элемент, то можно применить метод count():

In [38]:
people = ["Arina", "Karina", "Arina", "Laysan", "Arina", "Masha", "Dasha"]

people_count = people.count("Arina")
print(people_count)      # 3

3

## Сортировка

Для сортировки по возрастанию применяется метод sort():

In [39]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

people.sort()
print(people) #['Alexandra', 'Alice', 'Arina', 'Dasha', 'Karina', 'Laysan', 'Masha']

['Alexandra', 'Alice', 'Arina', 'Dasha', 'Karina', 'Laysan', 'Masha']

In [41]:
people = ["Arina", "Karina", "Alice", "Arina", "Alexandra", "Arina", "Dasha"]

people.sort()
print(people) #['Alexandra', 'Alice', 'Arina', 'Arina', 'Arina', 'Dasha', 'Karina']

['Alexandra', 'Alice', 'Arina', 'Arina', 'Arina', 'Dasha', 'Karina']

Если необходимо отсортировать данные в обратном порядке, то мы можем после сортировки применить метод reverse():

In [43]:
people = ["Arina", "Karina", "Alice", "Laysan", "Alexandra", "Masha", "Dasha"]

people.sort()
people.reverse()
print(people) # ['Masha', 'Laysan', 'Karina', 'Dasha', 'Arina', 'Alice', 'Alexandra']

['Masha', 'Laysan', 'Karina', 'Dasha', 'Arina', 'Alice', 'Alexandra']

Если в списке сочетаются строки с верхним и нижним регистром, то мы можем получить не совсем корректные результаты, так как для нас строка "bob" должна стоять до строки "Tom". И чтобы изменить стандартное поведение сортировки, мы можем передать в метод sort() в качестве параметра функцию:

In [45]:
people = ["Arina", "karina", "Karim",  "Alice", "Laysan", "alexandra", "Masha", "Dasha"]

people.sort()       # стандартная сортировка
print(people)      # ['Alice', 'Arina', 'Dasha', 'Karim', 'Laysan', 'Masha', 'alexandra', 'karina']

people.sort(key=str.lower)  # сортировка без учета регистра
print(people)      # ['alexandra', 'Alice', 'Arina', 'Dasha', 'Karim', 'karina', 'Laysan', 'Masha']

['Alice', 'Arina', 'Dasha', 'Karim', 'Laysan', 'Masha', 'alexandra', 'karina']
['alexandra', 'Alice', 'Arina', 'Dasha', 'Karim', 'karina', 'Laysan', 'Masha']

Кроме метода sort мы можем использовать встроенную функцию sorted, которая имеет две формы:

* sorted(list): сортирует список list

* sorted(list, key): сортирует список list, применяя к элементам функцию key

In [47]:
people = ["Arina", "karina", "Karin",  "Alice", "Laysan", "alexandra", "Masha", "Dasha"]

sorted_people = sorted(people, key=str.lower)
print(sorted_people)      # ['alexandra', 'Alice', 'Arina', 'Dasha', 'Karin', 'karina', 'Laysan', 'Masha']

['alexandra', 'Alice', 'Arina', 'Dasha', 'Karin', 'karina', 'Laysan', 'Masha']

При использовании этой функции следует учитывать, что эта функция не изменяет сортируемый список, а все отсортированные элементы она помещает в новый список, который возвращается в качестве результата.

## Минимальное и максимальное значения

Встроенный функции Python min() и max() позволяют найти минимальное и максимальное значения соответственно:

In [48]:
numbers = [9, 21, 12, 1, 3, 15, 18]
print(min(numbers))     # 1
print(max(numbers))     # 21

1
21

## Копирование списков

При копировании списков следует учитывать, что списки представляют изменяемый (mutable) тип, поэтому если обе переменных будут указывать на один и тот же список, то изменение одной переменной, затронет и другую переменную:

In [50]:
people1 = ["Alexandra", "Karim", "Abdullo"]
people2 = people1
people2.append("Samad")   # добавляем элемент во второй список
# people1 и people2 указывают на один и тот же список
print(people1)   # ['Alexandra', 'Karim', 'Abdullo', 'Samad']
print(people2)   # ['Alexandra', 'Karim', 'Abdullo', 'Samad']

['Alexandra', 'Karim', 'Abdullo', 'Samad']
['Alexandra', 'Karim', 'Abdullo', 'Samad']

Это так называемое "поверхностное копирование" (shallow copy). И, как правило, такое поведение нежелательное. И чтобы происходило копирование элементов, но при этом переменные указывали на разные списки, необходимо выполнить глубокое копирование (deep copy). Для этого можно использовать метод copy():

In [52]:
people1 = ["Alexandra", "Karim", "Abdullo"]
people2 = people1.copy()    # копируем элементы из people1 в people2
people2.append("Samad")   # добавляем элемент ТОЛЬКО во второй список
# people1 и people2 указывают на разные списки
print(people1)   # ['Alexandra', 'Karim', 'Abdullo']
print(people2)   # ['Alexandra', 'Karim', 'Abdullo', 'Samad']

['Alexandra', 'Karim', 'Abdullo']
['Alexandra', 'Karim', 'Abdullo', 'Samad']

## Соединение списков

Для объединения списков применяется операция сложения (+):

In [56]:
people1 = ["Dilyara", "Darya", "Dilrabo", "Alexandra"]
people2 = ["Maxim", "Marat", "Mamur", "Mansur", "Bilol"]
people3 = people1 + people2
print(people3)   # ['Dilyara', 'Darya', 'Dilrabo', 'Maxim', 'Marat', 'Mamur', 'Mansur']

['Dilyara', 'Darya', 'Dilrabo', 'Alexandra', 'Maxim', 'Marat', 'Mamur', 'Mansur', 'Bilol']

## Списки списков

Списки кроме стандартных данных типа строк, чисел, также могут содержать другие списки. Подобные списки можно ассоциировать с таблицами, где вложенные списки выполняют роль строк. Например:

In [59]:
people = [
    ["Dilyara", 19],
    ["Alice", 17],
    ["Mansur", 18]
]

print(people[0])         # ['Dilyara', 19]
print(people[0][0])      # Dilyara
print(people[0][1])      # 19

['Dilyara', 19]
Dilyara
19

Добавление, удаление и изменение общего списка, а также вложенных списков аналогично тому, как это делается с обычными (одномерными) списками:

In [63]:
people = [
    ["Dilyara", 19],
    ["Alice", 17],
    ["Mansur", 18]
]

# создание вложенного списка
person = list()
person.append("Ulyana")
person.append(20)
# добавление вложенного списка
people.append(person)

print(people[-1])         # ['Ulyana', 20]

# добавление во вложенный список
people[-1].append("+79876543210")

print(people[-1])         # ['Ulyana', 20, '+79876543210']

# удаление последнего элемента из вложенного списка
people[-1].pop()
print(people[-1])         # ['Ulyana', 20]

# удаление всего последнего вложенного списка
people.pop(-1)

# изменение первого элемента
people[0] = ["Samira", 18]
print(people)            # [['Samira', 18], ['Alice', 17], ['Mansur', 18]]

['Ulyana', 20]
['Ulyana', 20, '+79876543210']
['Ulyana', 20]
[['Samira', 18], ['Alice', 17], ['Mansur', 18]]

Перебор вложенных списков:

In [64]:
people = [
    ["Dilyara", 19],
    ["Alice", 17],
    ["Mansur", 18]
]

for person in people:
    for item in person:
        print(item, end=" | ")

Dilyara | 19 | Alice | 17 | Mansur | 18 |

# Кортежи

Кортеж (tuple) представляет последовательность элементов, которая во многом похожа на список за тем исключением, что кортеж является неизменяемым (immutable) типом. Поэтому мы не можем добавлять или удалять элементы в кортеже, изменять его.

Для создания кортежа используются круглые скобки, в которые помещаются его значения, разделенные запятыми:

In [67]:
dil = ("Dilyara", 18)
print(dil)     # ('Dilyara', 18)

('Dilyara', 18)

Также для определения кортежа мы можем просто перечислить значения через запятую без применения скобок:

In [68]:
dil = "Dilyara", 18
print(dil)     # ('Dilyara', 18)

('Dilyara', 18)

Если вдруг кортеж состоит из одного элемента, то после единственного элемента кортежа необходимо поставить запятую:

In [69]:
dil = ("Dilyara", )
print(dil)     # ('Dilyara', )

('Dilyara',)

Для создания кортежа из другого набора элементов, например, из списка, можно передать список в функцию tuple(), которая возвратит кортеж:

In [72]:
data = ["Dilyara", 18, "Google"]
tom = tuple(data)
print(tom)      # ('Dilyara', 18, 'Google')

('Dilyara', 18, 'Google')

С помощью встроенной функции len() можно получить длину кортежа:

In [73]:
dil = ("Dilyara", 18, "Google")
print(len(dil))     # 3

3

## Обращение к элементам кортежа

Обращение к элементам в кортеже происходит также, как и в списке, по индексу. Индексация начинается также с нуля при получении элементов с начала списка и с -1 при получении элементов с конца списка:

In [75]:
dil= ("Dilyara", 18, "Google", "software developer")
print(dil[0])       # Dilyara
print(dil[1])       # 18
print(dil[-1])      # software developer

Dilyara
18
software developer

Но так как кортеж - неизменяемый тип (immutable), то мы не сможем изменить его элементы. То есть следующая запись работать не будет:

In [76]:
dil[1] = "Tim"

TypeError: ignored

При необходимости мы можем разложить кортеж на отдельные переменные:

In [77]:
name, age, company, position = ("Dilyara", 18, "Google", "software developer")
print(name)         # Dilyara
print(age)          # 18
print(position)     # software developer
print(company)     # Google

Dilyara
18
software developer
Google

## Получение подкортежей

Как и в списках, можно получить часть кортежа в виде другого кортежа

In [79]:
dil = ("Dilyara", 18, "Google", "software developer")

# получем подкортеж с 1 по 3 элемента (не включая)
print(dil[1:3])     # (18, "Google")

# получем подкортеж с 0 по 3 элемента (не включая)
print(dil[:3])     # ('Dilyara', 18, 'Google')

# получем подкортеж с 1 по послдений элемент
print(dil[1:])     # (18, 'Google', 'software developer')

(18, 'Google')
('Dilyara', 18, 'Google')
(18, 'Google', 'software developer')

## Кортеж как параметр и результат функций

Особенно удобно использовать кортежи, когда необходимо возвратить из функции сразу несколько значений. Когда функция возвращает несколько значений, фактически она возвращает в кортеж:

In [80]:
def get_user():
    name = "Dilyara"
    age = 22
    company = "Google"
    return name, age, company


user = get_user()
print(user)     # ("Dilyara", 22, "Google")

('Dilyara', 22, 'Google')

При передаче кортежа в функцию с помощью оператора * его можно разложить на отдельные значения, которые передаются параметрам функции:

In [82]:
def print_person(name, age, company):
    print(f"Name: {name}  Age: {age}  Company: {company}")

dil = ("Dilyara", 22)
print_person(*dil, "Microsoft")     # Name: Dilyara  Age: 22  Company: Microsoft

annya = ("Anna", 18, "Apple")
print_person(*annya)      # Name: Anna  Age: 18  Company: Apple

Name: Dilyara  Age: 22  Company: Microsoft
Name: Anna  Age: 18  Company: Apple

## Перебор кортежей

Для перебора кортежа можно использовать стандартные циклы for и while. С помощью цикла for:

In [83]:
dil = ("Dilyara", 22, "Google")
for item in dil:
    print(item)

Dilyara
22
Google

С помощью цикла while:

In [84]:
dil = ("Dilyara", 22, "Google")

while i < len(dil):
    print(tom[i])
    i += 1

## Проверка наличия значения

Как для списка с помощью выражения элемент in кортеж можно проверить наличие элемента в кортеже:

In [85]:
user = ("Dilyara", 22, "Google")
name = "Dilyara"
if name in user:
    print("Пользователя зовут Dilyara")
else:
    print("Пользователь имеет другое имя")

Пользователя зовут Dilyara

# Диапазоны

Диапазоны или range представляют неизменяемый последовательный набор чисел. Для создания диапазонов используется функция range, которая имеет следующие формы:

* range(stop): возвращает все целые числа от 0 до stop (не включая stop).
* range(start, stop): возвращает все целые числа в промежутке от start (включительно) до stop (не включая stop).
* range(start, stop, step): возвращает целые числа в промежутке от start (включительно) до stop (не включая stop), с шагом step.

Примеры вызовов функции range:

In [86]:
# Возвращает все целые числа от 0 до 10 (не включая 10)
numbers1 = range(10)
print(list(numbers1))  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Возвращает все целые числа в промежутке от 5 (включительно) до 10 (не включая 10)
numbers2 = range(5, 10)
print(list(numbers2))  # [5, 6, 7, 8, 9]

# Возвращает целые числа в промежутке от 0 (включительно) до 10 (не включая 10), с шагом 2
numbers3 = range(0, 10, 2)
print(list(numbers3))  # [0, 2, 4, 6, 8]

# Возвращает все целые числа от -10 (включительно) до -1 (не включая -1)
numbers4 = range(-10, -1)
print(list(numbers4))  # [-10, -9, -8, -7, -6, -5, -4, -3, -2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[-10, -9, -8, -7, -6, -5, -4, -3, -2]

Диапазоны чаще всего применяются в циклах for. Например, выведем последовательно все числа от 0 до 4:

In [87]:
for i in range(5):
    print(i, end=" ")

# Консольный вывод
# 0, 1, 2, 3, 4

0 1 2 3 4

Если нам необходим последовательный список чисел, то для его создания удобно использовать функцию range:

In [88]:
numbers = list(range(10))
print(numbers)      # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers = list(range(2, 10))
print(numbers)      # [2, 3, 4, 5, 6, 7, 8, 9]
numbers = list(range(10, 2, -2))
print(numbers)      # [10, 8, 6, 4]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[10, 8, 6, 4]

# Словари

Словарь (dictionary) в языке Python хранит коллекцию элементов, где каждый элемент имеет уникальный ключ и ассоциированое с ним некоторое значение.

Определение словаря имеет следующий синтаксис:


```
dictionary = { ключ1:значение1, ключ2:значение2, ....}
```

Давайте определим словарь:

In [91]:
users = {1: "Annya", 2: "Zukhra", 3: "Masha"}
print(users)

{1: 'Annya', 2: 'Zukhra', 3: 'Masha'}

Другой пример:

In [92]:
emails = {"anusha@gmail.com": "Annya", "zukhra@gmai.com": "Zukhra", "masha@gmail.com": "Masha"}
print(emails)

{'anusha@gmail.com': 'Annya', 'zukhra@gmai.com': 'Zukhra', 'masha@gmail.com': 'Masha'}

Но необязательно ключи и строки должны быть однотипными. Они могу представлять разные типы:

In [94]:
objects = {1: "Annya", "2": True, 3: 100.6}
print(objects)

{1: 'Annya', '2': True, 3: 100.6}

Мы можем также вообще определить пустой словарь без элементов:

In [95]:
objects = {}
print(objects)

{}

In [96]:
objects = dict()
print(objects)

{}

## Преобразование списков и кортежей в словарь

Несмотря на то, что словарь и список - непохожие по структуре типы, но тем не менее существует возможности для отдельных видов списков преобразования их в словарь с помощью встроенной функции dict(). Для этого список должен хранить набор вложенных списков. Каждый вложенный список должен состоять из двух элементов - при конвертации в словарь первый элемент станет ключом, а второй - значением:

In [98]:
users_list = [
    ["+111123455", "Annya"],
    ["+384767557", "Zukhra"],
    ["+958758767", "Alice"]
]
users_dict = dict(users_list)
print(users_dict)      # {'+111123455': 'Annya', '+384767557': 'Zukhra', '+958758767': 'Alice'}

{'+111123455': 'Annya', '+384767557': 'Zukhra', '+958758767': 'Alice'}

Подобным образом можно преобразовать в словарь двухмерные кортежи, которые в свою очередь содержать кортежи из двух элементов:

In [99]:
users_tuple = (
    ("+111123455", "Annya"),
    ("+384767557", "Zukhra"),
    ("+958758767", "Alice")
)
users_dict = dict(users_tuple)
print(users_dict)

{'+111123455': 'Annya', '+384767557': 'Zukhra', '+958758767': 'Alice'}

## Получение и изменение элементов

Для обращения к элементам словаря после его названия в квадратных скобках указывается ключ элемента:



```
dictionary[ключ]
```

Например, получим и изменим элементы в словаре:

In [100]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhra",
    "+55555555": "Alice"
}

# получаем элемент с ключом "+11111111"
print(users["+11111111"])      # Annya

# установка значения элемента с ключом "+33333333"
users["+33333333"] = "Ilderova Anna"
print(users["+33333333"])   # Ilderova Anna

Annya
Ilderova Anna

Если при установки значения элемента с таким ключом в словаре не окажется, то произойдет его добавление:

In [101]:
users["+4444444"] = "Masha"

Но если мы попробуем получить значение с ключом, которого нет в словаре, то Python сгенерирует ошибку KeyError:

In [102]:
user = users["+999999999"]    # KeyError

KeyError: ignored

И чтобы предупредить эту ситуацию перед обращением к элементу мы можем проверять наличие ключа в словаре с помощью выражения ключ in словарь. Если ключ имеется в словаре, то данное выражение возвращает True:

In [103]:
key = "+999999999"
if key in users:
    user = users[key]
    print(user)
else:
    print("Элемент не найден")

Элемент не найден

Также для получения элементов можно использовать метод get, который имеет две формы:

* get(key): возвращает из словаря элемент с ключом key. Если элемента с таким ключом нет, то возвращает значение None

* get(key, default): возвращает из словаря элемент с ключом key. Если элемента с таким ключом нет, то возвращает значение по умолчанию default

In [105]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhro",
    "+55555555": "Alice"
}

user1 = users.get("+55555555")
print(user1)    # Alice
user2 = users.get("+33333333", "Unknown user")
print(user2)    # Zukhro
user3 = users.get("+44444444", "Unknown user")
print(user3)    # Unknown user

Alice
Zukhro
Unknown user

Удаление
Для удаления элемента по ключу применяется оператор del:

In [106]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhro",
    "+55555555": "Alice"
}

del users["+55555555"]
print(users)    # {'+11111111': 'Annya', '+33333333': 'Zukhro'}

{'+11111111': 'Annya', '+33333333': 'Zukhro'}

Но стоит учитывать, что если подобного ключа не окажется в словаре, то будет выброшено исключение KeyError. Поэтому опять же перед удалением желательно проверять наличие элемента с данным ключом.

In [107]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhro",
    "+55555555": "Alice"
}

key = "+55555555"
if key in users:
    del users[key]
    print(f"Элемент с ключом {key} удален")
else:
    print("Элемент не найден")

Элемент с ключом +55555555 удален

Другой способ удаления представляет метод pop(). Он имеет две формы:

* pop(key): удаляет элемент по ключу key и возвращает удаленный элемент. Если элемент с данным ключом отсутствует, то генерируется исключение KeyError

* pop(key, default): удаляет элемент по ключу key и возвращает удаленный элемент. Если элемент с данным ключом отсутствует, то возвращается значение default

In [108]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhro",
    "+55555555": "Alice"
}


key = "+55555555"
user = users.pop(key)
print(user)     # Alice

user = users.pop("+4444444", "Unknown user")
print(user)     # Unknown user

Alice
Unknown user

Если необходимо удалить все элементы, то в этом случае можно воспользоваться методом clear():

In [109]:
users.clear()

## Копирование и объединение словарей

Метод copy() копирует содержимое словаря, возвращая новый словарь:

In [111]:
users = {"+1111111": "Annya", "+3333333": "Zukhra", "+5555555": "Alice"}
students = users.copy()
print(students)     # {'+1111111': 'Annya', '+3333333': 'Zukhra', '+5555555': 'Alice'}

{'+1111111': 'Annya', '+3333333': 'Zukhra', '+5555555': 'Alice'}

Метод update() объединяет два словаря:

In [113]:
users = {"+1111111": "Annya", "+3333333": "Zukhra"}

users2 = {"+2222222": "Masha", "+6666666": "Dasha"}
users.update(users2)

print(users)    #  {'+1111111': 'Annya', '+3333333': 'Zukhra', '+2222222': 'Masha', '+6666666': 'Dasha'}
print(users2)   # {'+2222222': 'Masha', '+6666666': 'Dasha'}

{'+1111111': 'Annya', '+3333333': 'Zukhra', '+2222222': 'Masha', '+6666666': 'Dasha'}
{'+2222222': 'Masha', '+6666666': 'Dasha'}

## Перебор словаря

Для перебора словаря можно воспользоваться циклом for:

In [114]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhra",
    "+55555555": "Alice"
}
for key in users:
    print(f"Phone: {key}  User: {users[key]} ")

Phone: +11111111  User: Annya
Phone: +33333333  User: Zukhra
Phone: +55555555  User: Alice

Другой способ перебора элементов представляет использование метода items():

In [115]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhra",
    "+55555555": "Alice"
}

for key, value in users.items():
    print(f"Phone: {key}  User: {value} ")

Phone: +11111111  User: Annya
Phone: +33333333  User: Zukhra
Phone: +55555555  User: Alice

Также существуют отдельно возможности перебора ключей и перебора значений. Для перебора ключей мы можем вызвать у словаря метод keys():

In [116]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhra",
    "+55555555": "Alice"
}

for key in users.keys():
    print(key)

+11111111
+33333333
+55555555

Для перебора только значений мы можем вызвать у словаря метод values():

In [118]:
users = {
    "+11111111": "Annya",
    "+33333333": "Zukhra",
    "+55555555": "Alice"
}

for value in users.values():
    print(value)

Annya
Zukhra
Alice

## Комплексные словари

Кроме простейших объектов типа чисел и строк словари также могут хранить и более сложные объекты - те же списки, кортежи или другие словари:

In [120]:
users = {
    "Annya": {
        "phone": "+971478745",
        "email": "annusha@gmail.com"
    },
    "Zukhra": {
        "phone": "+876390444",
        "email": "zukha@gmail.com",
        "skype": "zukha123"
    }
}

print(users)

{'Annya': {'phone': '+971478745', 'email': 'annusha@gmail.com'}, 'Zukhra': {'phone': '+876390444', 'email': 'zukha@gmail.com', 'skype': 'zukha123'}}

Для обращения к элементам вложенного словаря соответственно необходимо использовать два ключа:

In [122]:
old_email = users["Annya"]["email"]
users["Annya"]["email"] = "superannya@gmail.com"
print(users["Annya"])     # { phone": "+971478745", "email": "supertom@gmail.com }

{'phone': '+971478745', 'email': 'superannya@gmail.com'}

Но если мы попробуем получить значение по ключу, который отсутствует в словаре, Python сгенерирует исключение KeyError:

In [123]:
anna_skype = users["Annya"]["skype"]   # KeyError

KeyError: ignored

Чтобы избежать ошибки, можно проверять наличие ключа в словаре:

In [124]:
key = "skype"
if key in users["Annya"]:
    print(users["Annya"]["skype"])
else:
    print("skype is not found")

skype is not found

**Задача: Работа с использованием словарей в Python**

1. Создайте словарь с именем "person", содержащий следующие данные о человеке:

* Имя (name)
* Возраст (age)
* Город проживания (city)
* Адрес электронной почты (email)

2. Выведите на экран имя и возраст человека.

3. Измените возраст человека на один год.

4. Добавьте в словарь новый элемент, представляющий номер телефона человека.

5. Удалите адрес электронной почты из словаря.

6. Проверьте, указан ли адрес электронной почты в словаре. Если да, выведите его значение, иначе выведите сообщение о том, что адрес электронной почты не указан.

7. Выведите на экран все ключи и значения в словаре "person".

8. Выведите на экран все значения в словаре "person".

9. Выведите на экран все пары ключ-значение в словаре "person".

10. Перечислите все действия, которые вы выполнили с использованием словаря в этой задаче.

In [125]:
# Создание словаря
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "email": "alice@example.com"
}

# Вывод на экран имени и возраста человека
print(person["name"])  # Выводит: Alice
print(person["age"])   # Выводит: 25

# Изменение значения возраста
person["age"] = 26

# Добавление новой пары ключ-значение для номера телефона
person["phone"] = "123-456-7890"

# Удаление элемента по ключу
del person["email"]

# Проверка наличия ключа в словаре
if "email" in person:
    print("Email:", person["email"])
else:
    print("Email не указан")

# Вывод всех ключей и значений в словаре
print("Ключи и значения в словаре:")
for key, value in person.items():
    print(key, ":", value)

# Вывод всех значений в словаре
print("Значения в словаре:")
for value in person.values():
    print(value)

# Вывод всех пар ключ-значение в словаре
print("Пары ключ-значение в словаре:")
for key, value in person.items():
    print(key, ":", value)

Alice
25
Email не указан
Ключи и значения в словаре:
name : Alice
age : 26
city : New York
phone : 123-456-7890
Значения в словаре:
Alice
26
New York
123-456-7890
Пары ключ-значение в словаре:
name : Alice
age : 26
city : New York
phone : 123-456-7890

# Множества

Множество (set) представляют еще один вид набора, который хранит только уникальные элементы. Для определения множества используются фигурные скобки, в которых перечисляются элементы:

In [128]:
users = {"Tom", "Bob", "Alice", "Tom"}
print(users)    # {'Tom', 'Alice', 'Bob'}

{'Tom', 'Alice', 'Bob'}

Также для определения множества может применяться функция set(), в которую передается список или кортеж элементов:

In [130]:
people = ["Mike", "Bill", "Ted"]
users = set(people)
print(users)    # {'Bill', 'Mike', 'Ted'}

{'Bill', 'Mike', 'Ted'}

Функцию set удобно применять для создания пустого множества:

In [131]:
users = set()
print(users)

set()

Для получения длины множества применяется встроенная функция len():

In [132]:
users = {"Tom", "Bob", "Alice"}
print(len(users))       # 3

3

## Добавление элементов

Для добавления одиночного элемента вызывается метод add():

In [133]:
users = set()
users.add("Sam")
print(users)

{'Sam'}

## Удаление элементов

Для удаления одного элемента вызывается метод remove(), в который передается удаляемый элемент. Но следует учитывать, что если такого элемента не окажется в множестве, то будет сгенерирована ошибка. Поэтому перед удалением следует проверять на наличие элемента с помощью оператора in:

In [134]:
users = {"Tom", "Bob", "Alice"}

user = "Tom"
if user in users:
    users.remove(user)
print(users)    # {"Bob", "Alice"}

{'Alice', 'Bob'}

Также для удаления можно использовать метод discard(), который не будет генерировать исключения при отсутствии элемента:

In [135]:
users = {"Tom", "Bob", "Alice"}

users.discard("Tim")    # элемент "Tim" отсутствует, и метод ничего не делает
print(users)    #  {"Tom", "Bob", "Alice"}

users.discard("Tom")    # элемент "Tom" есть, и метод удаляет элемент
print(users)    #  {"Bob", "Alice"}

{'Tom', 'Alice', 'Bob'}
{'Alice', 'Bob'}

Для удаления всех элементов вызывается метод clear():

In [137]:
users.clear()
print(users)

set()

## Перебор множества

Для перебора элементов можно использовать цикл for:

In [138]:
users = {"Tom", "Bob", "Alice"}

for user in users:
    print(user)

Tom
Alice
Bob

## Операции с множествами

С помощью метода copy() можно скопировать содержимое одного множества в другую переменную:

In [139]:
users = {"Tom", "Bob", "Alice"}
students = users.copy()
print(students)     # {"Tom", "Bob", "Alice"}

{'Tom', 'Alice', 'Bob'}

## Объединение множеств

Объединение двух множеств A и B включает в себя все элементы множества A и B.

![image.png]()


Метод union() объединяет два множества и возвращает новое множество:

In [140]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}

users3 = users.union(users2)
print(users3)   # {'Tom', 'Kate', 'Alice', 'Sam', 'Bob'}

{'Tom', 'Kate', 'Alice', 'Sam', 'Bob'}

## Пересечение множеств

Пересечение двух наборов A и B включает в себя общие элементы между наборами A и B.

![image.png]()

Метод intersection() производит операцию пересечения множеств и возвращает новое множество:

In [141]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}

users3 = users.intersection(users2)
print(users3)   # {"Bob"}

{'Bob'}

Вместо метода intersection мы могли бы использовать операцию логического умножения:

In [142]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}

print(users & users2)   # {"Bob"}

{'Bob'}

Модификация метода - intersection_update() заменяет пересеченными элементами первое множество:

In [143]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}
users.intersection_update(users2)
print(users)   # {"Bob"}

{'Bob'}

## Разность множеств

Еще одна операция - разность множеств возвращает те элементы, которые есть в первом множестве, но отсутствуют во втором.

Разница между двумя наборами A и B включает в себя элементы набора A , которых нет в наборе B.

![image.png]()


 Для получения разности множеств можно использовать метод difference или операцию вычитания:

In [144]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}

users3 = users.difference(users2)
print(users3)           # {"Tom", "Alice"}
print(users - users2)   # {"Tom", "Alice"}

{'Tom', 'Alice'}
{'Tom', 'Alice'}

## Установить симметричную разницу

Симметричная разность между двумя множествами A и B включает в себя все элементы A и B без общих элементов.

![image.png]()

Отдельная разновидность разности множеств - симметрическая разность производится с помощью метода symmetric_difference() или с помощью операции ^. Она возвращает все элементы обоих множеств за исключением общих:

In [146]:
users = {"Tom", "Bob", "Alice"}
users2 = {"Sam", "Kate", "Bob"}

users3 = users.symmetric_difference(users2)
print(users3)   # {"Tom", "Alice", "Sam", "Kate"}

users4 = users ^ users2
print(users4)   # {"Tom", "Alice", "Sam", "Kate"}

{'Kate', 'Sam', 'Tom', 'Alice'}
{'Kate', 'Sam', 'Tom', 'Alice'}

## Отношения между множествами

Метод issubset позволяет выяснить, является ли текущее множество подмножеством (то есть частью) другого множества:

In [147]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issubset(superusers))   # True
print(superusers.issubset(users))   # False

True
False

Метод issuperset, наоборот, возвращает True, если текущее множество является надмножеством (то есть содержит) для другого множества:

In [148]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issuperset(superusers))   # False
print(superusers.issuperset(users))   # True

False
True

## frozen set

Тип frozen set является видом множеств, которое не может быть изменено. Для его создания используется функция frozenset:

In [150]:
users = frozenset({"Tom", "Bob", "Alice"})
print(users)

frozenset({'Tom', 'Alice', 'Bob'})

Для создания frozenset в Python вы можете использовать функцию frozenset(), передавая в неё итерируемый объект, такой как список, кортеж или другое множество. Вот примеры создания frozenset:

In [154]:
# Создание frozenset из списка
frozen_set_from_list = frozenset([1, 2, 3, 4])

# Создание frozenset из кортежа
frozen_set_from_tuple = frozenset((3, 4, 5, 6))

# Создание frozenset из другого множества
other_set = {5, 6, 7, 8}
frozen_set_from_other_set = frozenset(other_set)

print(frozen_set_from_list)  # Вывод: frozenset({1, 2, 3, 4})
print(frozen_set_from_tuple)  # Вывод: frozenset({3, 4, 5, 6})
print(frozen_set_from_other_set)  # Вывод: frozenset({8, 5, 6, 7})

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({8, 5, 6, 7})

В функцию frozenset передается набор элементов - список, кортеж, другое множество.

В такое множество мы не можем добавить новые элементы, как и удалить из него уже имеющиеся. Собственно поэтому frozen set поддерживает ограниченный набор операций:

* len(s): возвращает длину множества

* x in s: возвращает True, если элемент x присутствует в множестве s

* x not in s: возвращает True, если элемент x отсутствует в множестве s

* s.issubset(t): возвращает True, если t содержит множество s

* s.issuperset(t): возвращает True, если t содержится в множестве s

* s.union(t): возвращает объединение множеств s и t
* s.intersection(t): возвращает пересечение множеств s и t

* s.difference(t): возвращает разность множеств s и t

* s.copy(): возвращает копию множества s

**Задача: Работа с frozenset**

Вам необходимо выполнить ряд операций с данными frozenset в Python. Для этого предоставлены два frozenset: s и t. Выполните следующие операции:

1. Выведите длину множества s.
2. Проверьте, содержится ли элемент 2 в множестве s.
3. Проверьте, отсутствует ли элемент 4 в множестве s.
4. Проверьте, является ли множество s подмножеством множества t.
5. Проверьте, является ли множество s надмножеством множества t.
6. Выведите объединение множеств s и t.
7. Выведите пересечение множеств s и t.
8. Выведите разность множеств s и t.
9. Создайте копию множества s и выведите её.

После выполнения всех операций выведите результаты.

In [152]:
# Создание frozenset для демонстрации
s = frozenset({1, 2, 3})
t = frozenset({3, 4, 5})

# Пример использования len(s)
print(len(s))  # Вывод: 3

# Пример использования x in s
print(2 in s)  # Вывод: True

# Пример использования x not in s
print(4 not in s)  # Вывод: True

# Пример использования s.issubset(t)
print(s.issubset(t))  # Вывод: False

# Пример использования s.issuperset(t)
print(s.issuperset(t))  # Вывод: False

# Пример использования s.union(t)
print(s.union(t))  # Вывод: frozenset({1, 2, 3, 4, 5})

# Пример использования s.intersection(t)
print(s.intersection(t))  # Вывод: frozenset({3})

# Пример использования s.difference(t)
print(s.difference(t))  # Вывод: frozenset({1, 2})

# Пример использования s.copy()
copy_of_s = s.copy()
print(copy_of_s)  # Вывод: frozenset({1, 2, 3})

3
True
True
False
False
frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2, 3})

# List comprehension

Функциональность list comprehension предоставляет более краткий и лаконичный синтаксис для создания списков на основе других наборов данных. Она имеет следующий синтаксис:



```

newlist = [expression for item in iterable (if condition)]
```

Синтаксис list comprehension состоит из следующих компонентов:

* iterable: перебираемый источник данных, в качестве которого может выступать список, множество, последовательность, либо даже функция, которая возвращает набор данных, например, range()

* item: извлекаемый из источника данных элемент

* expression: выражение, которое возвращает некоторое значение. Это значение затем попадает в генерируемый список

* condition: условие, которому должны соответствовать извлекаемые из источника данных элементы. Если элемент НЕ удовлетворяет условию, то он НЕ выбирается. Необязательный параметр.

Рассмотрим небольшой пример. Допустим, нам надо выбрать из списка все числа, которые больше 0. В обшем случае мы бы могли написать так:

In [155]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
positive_numbers = []
for n in numbers:
    if n > 0:
        positive_numbers.append(n)

print(positive_numbers)     # [1, 2, 3]

[1, 2, 3]

Теперь изменим этот код, применив list comprehension:

In [156]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
positive_numbers = [n for n in numbers if n > 0]

print(positive_numbers)     # [1, 2, 3]

[1, 2, 3]

## Источник данных iterable

В качестве источника данных iterable может использоваться любой перебираемый объект, например, другой список, словарь и т.д. Например, функция range() возвращает все числя нуля до указанного порога не включая:

In [157]:
numbers = [n for n in range(10)]
print(numbers)      # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Нередко данная конструкция применяется, чтобы создать из словаря список. Например, выберем из словаря все ключи:

In [158]:
dictionary = {"red": "красный", "blue": "синий", "green": "зеленый"}
words = [word for word in dictionary]
print(words)    # ['red', 'blue', 'green']

['red', 'blue', 'green']

## Возвращение результата

Параметр expression представляет выражение, которое возвращает некоторое значение. Это значение затем помещается в генерируемый список. В примерах выше это был текущий элемент, который извлекается из источника данных:

In [159]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
new_numbers = [n for n in numbers]
print(new_numbers)      # [-3, -2, -1, 0, 1, 2, 3]

[-3, -2, -1, 0, 1, 2, 3]

Так, в данном случае параметр expression представляет непосредственно извлекаемый из списка numbers элемент n. Но это могут быть и более сложные значения. Например, возвратим удвоенное значение числа:

In [160]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
new_numbers = [n * 2 for n in numbers]
print(new_numbers)      # [-6, -4, -2, 0, 2, 4, 6]

[-6, -4, -2, 0, 2, 4, 6]

Здесь expression представляет выражение n * 2

Это могут быть и более сложные выражения:

In [161]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
new_numbers = [n * 2 if n > 0 else n for n in numbers]
print(new_numbers)      # [-3, -2, -1, 0, 2, 4, 6]

[-3, -2, -1, 0, 2, 4, 6]

В expression можно производить различные трансформации с данными. Например, возвратим также из словаря значение по ключу:

In [162]:
dictionary = {"red": "красный", "blue": "синий", "green": "зеленый"}
words = [f"{key}: {dictionary[key]}" for key in dictionary]
print(words)    # ['red: красный', 'blue: синий', 'green: зеленый']

['red: красный', 'blue: синий', 'green: зеленый']

## Условие

Условие - параметр condition определяет фильтр для выбора элементов из источника данных. Применим условие для конкретизации выборки, например, выберем только четные числа:

In [163]:
numbers = [n for n in range(10) if n % 2 == 0]
print(numbers)      # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

Выберем только те ключи из словаря, длина которых больше 3:

In [164]:
dictionary = {"red": "красный", "blue": "синий", "green": "зеленый"}
words = [f"{key}: {dictionary[key]}" for key in dictionary if len(key) > 3]
print(words)    # ['blue: синий', 'green: зеленый']

['blue: синий', 'green: зеленый']